 .tca1 {
            background-color: blue;
            color:white;
            width: 1000px;
            height: 200px;
            padding :200px;
        
}
 nav.b2{        
           background-color: blue;
           color:white; 
           width: 1000px;
           height: 200px;
           padding :100px;
           text-align:center
         
        
}

.but2 {
         background-color: blue;
         color:white;
         
}
.tcb2{
         background-color: rgba(15, 15, 99, 0.808);
         color:white;
         width: 500px;
         padding : 100px;

}

